<form action='/items' method='post'>
  <label for='itemDescription'>Item description</label>
  <input id='itemDescription' name='itemDescription' type='text'>
  <label for='itemDueDate'>Item due date</label>
  <input id='itemDueDate' name='itemDueDate' type='date'>
  <label for='itemCategoryId'>Category Id</label>
  <input id='itemCategoryId' name='itemCategoryId' type='number' min=1>

  <button type='submit'>Add item</button>
</form>
