@{
  Layout = "_Layout";
}<form action='/items' method='post'>

  <label for='itemDescription'>Item description</label>
  <input id='itemDescription' name='itemDescription' type='text'>
  <label for='itemDueDate'>Item due date</label>
  <input id='itemDueDate' name='itemDueDate' type='date'>

  <button type='submit'>Add item</button>
</form>

<p><a href="/">Back home</a></p>
<p><a href="/items">View all items</a></p>
