@{
  Layout = "_Layout";
}
<p>Item index</p>
@foreach (var item in Model)
{
  <li><a href='/items/@item.id'>@item.description</a></li>
}

<h4><a href = "/items/new">Add New Items</a></h4>
<h4><a href="/">Return home</a></h4>
